*.pyc
*.egg-info
/.idea/
*.glf
*.rar
/docs/build/
/docs/.idea/
/build/
/dist/
/documentation/build/
/pgdrive.egg-info/
.DS_Store
**/.DS_Store
**/test_10maps.json
**/tmp_images/
**/*.jpg
/pgdrive/cutils.cpython-37m-x86_64-linux-gnu.so
**/*.ipynb_checkpoints/
