*.pyc
*.egg-info
/.idea/
*.glf
*.rar
/docs/build/
/docs/.idea/
/build/
/dist/
**/assets.zip
/documentation/build/
/metadrive.egg-info/
.DS_Store
**/.DS_Store
**/**.zip.lock
**/test_10maps.json
/metadrive/examples/**.png
/metadrive/examples/**.jpg
**/tmp_images/
**/test.png
/metadrive/cutils.cpython-37m-x86_64-linux-gnu.so
**/*.ipynb_checkpoints/
/metadrive/cutils.cpython-38-x86_64-linux-gnu.so
**/*.c
**/image_from_observation.png
**/main_camera.png
/seed*.json
**/.vscode
**/.idea
/metadrive/cutils.cp37-win_amd64.pyd
**/test_dump.pkl
/metadrive/assets/waymo/raw/
/metadrive/assets/waymo/processed/
**/demo.gif
**/test_10maps.pickle
/metadrive/tests/test_functionality/test_dump_single.pkl
**/test_export/
**/test_export_record_scenario/
/metadrive/assets/textures/heightfield.png
**/test_read_copy_waymo
/metadrive/tests/vis_functionality/*.png
**/assets/

/bridges/ros_bridge/build
/bridges/ros_bridge/install
/bridges/ros_bridge/log

**/tests/**/*.jpg
**/tests/**/*.png
/metadrive/engine/core/*.png
**/**.mp4
/documentation/jupyter_execute/
/documentation/**/**.gif
/documentation/source/img.png
/documentation/source/demo.png

# ignore documentation build output
**/filtered_dataset
**/semantics.png
