*.pyc
*.egg-info
/.idea/
*.glf
*.rar
/docs/build/
/docs/.idea/
/build/
/dist/
/documentation/build/
/metadrive.egg-info/
.DS_Store
**/.DS_Store
**/test_10maps.json
**/tmp_images/
**/test.png
/metadrive/cutils.cpython-37m-x86_64-linux-gnu.so
**/*.ipynb_checkpoints/
/metadrive/cutils.cpython-38-x86_64-linux-gnu.so
**/*.c
/seed*.json
**/.vscode
**/.idea
/metadrive/cutils.cp37-win_amd64.pyd
**/test_dump.pkl
/metadrive/assets/waymo/raw/
/metadrive/assets/waymo/processed/
**/demo.gif
/metadrive/tests/test_functionality/test_10maps.pickle
/metadrive/tests/vis_functionality/test_10maps.pickle
